@import "_mixins.scss";

///////////////////
//COLOR VARIABLES
$font-color-primary: #393b3c;
$color-secondary: #101d2c;

$color-grey-light-1: #f1f1f1;
$color-grey-light-2: #ffffff;

$color-grey-dark-1: #f0f0f2;
$color-grey-dark-2: #bbbbbb;

$primary-color: #17a2b8;
$dark-color: #343a40;
$light-color: #f4f4f4;
$danger-color: #dc3545;
$success-color: #28a745;

/////////////////
//FONT VARIABLES
$font-primary: "Montserrat", sans-serif;

////////////////
//BASIC SETUP
* {
  margin: 0;
  padding: 0;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%; //1rem = 10px. 10px/16px = 62.5%
  font-family: $font-primary;
  @include respond(tab-land) {
    font-size: 56.25%; //1rem = 9px, 9/16 = 56.25%
  }

  @include respond(tab-port) {
    //1rem = 8px, 8/16 = 50%
    font-size: 50%;
  }

  @include respond(big-desktop) {
    font-size: 75%; //1rem = 12px, 12/16
  }
}

.main-container {
  font-family: $font-primary;
  color: $font-color-primary;
  font-weight: 300;
  line-height: 1.6;
  background-color: #ffffff;
  min-height: 80vh;
}

h1 {
  font-weight: 500;
  font-size: 32px;
  line-height: 1.125;
  text-align: center;
  text-transform: uppercase;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

ul {
  list-style: none;
}

a {
  color: black;
  text-decoration: none;
}

.custom-btn {
  margin: 0.1rem;
  min-width: 1.5rem;
  width: 30%;
  height: 5rem;
  letter-spacing: 0.5px;
  line-height: 5rem;
  padding: 0 2.5rem 0 2.5rem;
  font-size: 1.5rem;
  background-color: black;
  color: white;
  font-family: "Open Sans Condensed";
  font-weight: bolder;
  border: none;
  cursor: pointer;
  display: flex;
  justify-content: center;

  &:hover {
    background-color: white;
    color: black;
    border: 1px solid black;
  }

  &.inverted {
    background-color: white;
    color: black;
    border: 1px solid black;

    &:hover {
      background-color: black;
      color: white;
      border: none;
    }
  }
}

.page-wrapper {
  margin: 2rem auto;
  height: 80vh;
  font-size: 1.2rem;
  padding: 1rem;
  display: flex;
  flex-direction: column;

  @include respond(tab-port) {
    width: 100%;
  }

  &__title {
    font-weight: 500;
    font-size: 3.2rem;
    line-height: 1.125;
    text-align: center;
    text-transform: uppercase;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  }
}

////////////
////TABLES STYLES

table {
  margin: 5rem auto;

  th,
  td {
    border-bottom: 1px solid #ddd;
    padding: 0.3rem;
    text-align: center;
  }

  th {
    background-color: black;
    color: #ffffff;
  }

  .edit-btn {
    background-color: $success-color;
    color: #ffffff;
    padding: 0.5rem;
    border: none;
  }
  .delete-btn {
    background-color: $danger-color;
    color: #ffffff;
    padding: 0.5rem;
    border: none;
  }
}
