$sub-color: grey;
$main-color: black;

//SIGN-UP AND LOG IN COMPONENTS
.sign-up-log-in {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 38rem;

  &__title {
    margin: 1rem 0;
  }

  &__form {
    margin-top: 1rem;
    display: flex;
    flex-direction: column;

    .buttons {
      display: flex;
      justify-content: center;
    }
  }
  &__input {
    background: none;
    background-color: white;
    color: $sub-color;
    font-size: 1.8rem;
    padding: 1rem 1rem 1rem 0.5rem;
    display: block;
    width: 100%;
    border-radius: 0;
    border: 1px solid black;

    margin: 1rem 0;

    .error {
      color: red;
    }
  }
}

//LOG-IN-AND-SIGN-UP
.log-in-and-sign-up {
  width: 85rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 2rem auto;
}
