//PRODUCT DETAILS PAGE
.product-detail {
  display: flex;
  padding: 3rem;
  justify-content: space-evenly;

  @include respond(tab-port) {
    flex-direction: column;
    align-items: center;
  }

  &__right {
    display: flex;
    flex-direction: column;
  }

  .details-list {
    &__item {
      font-size: 1.3rem;
      padding: 0.3rem 0;
      display: flex;
      align-items: center;

      &--name {
        padding: 1rem 0;
      }

      &--info {
        font-size: 1.8rem;
        font-weight: 400;
        padding: 0 1rem;
      }
    }
  }
}

//PRODUCTS PAGE
.product-page--wrapper {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 3rem;
}

//CHECKOUT PAGE
.checkout__container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90%;
  margin: 3rem auto;
  color: black;

  &--title {
    margin: 2rem;
    font-size: 2.4rem;
  }

  .empty-message-lg {
    font-size: 2rem;
  }

  .checkout__order-info {
    display: flex;
    padding: 3rem;
    justify-content: space-between;
    width: 100%;
    border-bottom: 1px solid black;
    border-left: 1px solid black;
    border-right: 1px solid black;

    .increase-dicrease {
      display: flex;
      justify-content: space-around;
      align-items: center;
      @include respond(tab-port) {
        justify-content: center;
      }

      &--item {
        @include respond(tab-port) {
          padding: 0 3rem;
        }
      }
      &--item:hover {
        color: violet;
      }
    }
    .order-info {
      width: 100%;
    }
  }

  .order-info__list {
    display: flex;
    justify-content: space-evenly;
    @include respond(tab-port) {
      flex-direction: column;
    }
  }

  .client-info {
    padding: 3rem;
    border: 1px solid black;
    width: 100%;

    @include respond(tab-port) {
      padding: 1rem;
    }

    &__list {
      display: flex;
      align-items: center;
      justify-content: space-between;
      @include respond(tab-port) {
        flex-direction: column;
      }
    }
  }

  .info__item {
    display: flex;
    flex-direction: column;
    text-align: center;
  }

  .info__img-box {
    width: 30rem;
    @include respond(tab-port) {
      margin: 0 auto;
    }
  }

  .info__img {
    width: 100%;
    height: 100%;
  }
  .info__label {
    font-weight: 700;
    font-size: 1.5rem;
    line-height: 1.3;
    text-transform: uppercase;
    padding: 1rem;
    margin-bottom: 3rem;
    @include respond(tab-port) {
      margin: 0 auto;
    }
  }

  .info__details {
    font-size: 1.5rem;
  }

  .remove-btn {
    font-weight: 700;
    font-size: 1.4rem;
  }

  .total-price-wrapper {
    width: 100%;
    margin: 2rem;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    @include respond(tab-port) {
      justify-content: center;
    }

    .total-price-label {
      font-weight: 700;
      font-size: 2rem;
    }
    .total-price {
      font-size: 1.8rem;
      font-weight: 500;
      margin-left: 1rem;
    }
  }

  .test-warning {
    text-align: center;
    font-size: 2rem;
    color: red;
  }
}

////CONTACT

.contact {
  width: 50rem;
  margin: 3rem auto;
  position: relative;

  &__title {
    font-size: 1.7rem;
    letter-spacing: 0.1rem;
    text-align: center;
    margin: 5rem;
  }

  &__label {
    font-size: 1.2rem;
    margin: 1rem 0;
  }

  &__form {
    margin-top: 1rem;
    display: flex;
    flex-direction: column;

    .buttons {
      margin: 0 auto;
    }

    .error {
      color: red;
    }
  }

  &__input {
    background: none;
    background-color: #fcfcfd;
    color: $sub-color;
    font-size: 1.5rem;
    padding: 1rem 1rem 1rem 0.5rem;
    display: block;
    width: 100%;
    border-radius: 0;
    border: 1px solid black;
    margin: 0 0 0.1rem 0;
  }
  &__textarea {
    overflow: auto;
    height: 12rem;
    padding: 0.3rem;
  }
}

.invalid {
  border: 1px solid red;
}

.submit-btn {
  margin: 2rem 0.1rem;
  min-width: 1.5rem;
  width: auto;
  height: 5rem;
  letter-spacing: 0.5px;
  line-height: 5rem;
  padding: 0 2.5rem 0 2.5rem;
  font-size: 1.5rem;
  background-color: black;
  color: white;
  font-family: 'Open Sans Condensed';
  font-weight: bolder;
  border: none;
  cursor: pointer;
  display: flex;
  justify-content: center;

  &:hover {
    background-color: #393b3c;
    color: #fff;
  }
}

////NOT FOUND

.not-found-wrapper {
  text-align: center;
  padding: 10rem;

  &__title {
    font-size: 4rem;
    line-height: 1.2;
    margin-bottom: 1rem;
  }

  &__details {
    color: $primary-color;
  }
}

///ABOUT US  PAGE

.about-us {
  text-align: center;

  &__title {
    font-size: 1.7rem;
    letter-spacing: 0.1rem;
    text-align: center;
    padding: 0.5rem;
    margin: 5rem 0 1rem 0;
  }

  .underline {
    background-image: linear-gradient(120deg, #ffc6ff, #ffafcc);
    background-repeat: no-repeat;
    background-size: 100% 0.4em;
    background-position: 0 88%;
  }

  &__description {
    line-height: 2;
    margin: 0.5rem auto;
    max-width: 80%;
    padding: 1rem 3rem;
    font-size: 1.4rem;
  }

  .services__wrapper {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 5rem;
    @include respond(phone) {
      flex-direction: column;
      align-items: center;
    }

    .service {
      width: 30%;
      @include respond(phone) {
        width: 50%;
      }
      box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
      margin: 1rem;
      background-color: rgb(238, 167, 238);
      border-radius: 2rem;

      &__title {
        padding: 1rem;
        margin: 0.5rem;
        font-weight: 600;
        font-size: 1.6rem;
        text-transform: uppercase;
        color: white;
      }

      &__text {
        margin: 0.5rem;
        font-size: 1.4rem;
        line-height: 1.5;
        padding: 1rem;
      }
    }
  }

  .section-team {
    background-color: #393b3c;
    height: 80vh;

    &__description {
      line-height: 2;
      color: white;
      margin: 1rem auto;
      max-width: 80%;
      font-size: 1.4rem;
      padding-bottom: 1rem;
    }

    &__title {
      font-size: 1.7rem;
      padding-top: 5rem;
      margin: 5rem 0 1rem 0;
      color: white;
    }

    .team-container {
      position: relative;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;

      .box {
        position: relative;
        width: 27.5rem;
        height: 27.5rem;
        overflow: hidden;
        transition: 0.5s;
        margin: 1rem;

        .imgBx img {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          object-fit: cover;
        }

        .imgBx:before {
          content: '';
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          z-index: 1;
          background: linear-gradient(180deg, #f000, rgb(0, 0, 5));
          mix-blend-mode: multiply;
          opacity: 0.2;
          transition: 0.5s;
        }

        &:hover {
          z-index: 1;
          transform: scale(1.25);
          box-shadow: 0 25px 40px rgba(0, 0, 0, 0.5);

          .content h2 {
            transform: translateY(0);
            transition-delay: 0.6s;
          }

          .content p {
            transform: translateY(0);
            transition-delay: 0.7s;
          }
        }
      }

      .content {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 1;
        display: flex;
        padding: 1.3rem;

        h2 {
          color: #fff;
          transition: 0.5s;
          text-transform: uppercase;
          margin-bottom: 5px;
          font-size: 1.7rem;
          transform: translateY(200px);
        }

        p {
          color: #fff;
          transform: translateY(200px);
          transition: 0.5s;
          font-size: 1.4rem;
        }
      }
    }
  }
}

//Faq page
.faq-accordion {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  height: 80vh;

  .page-opop {
    font-size: 1.7rem;
    word-spacing: 0.5rem;
    padding: 0.5rem;
    margin: 5rem 0 1rem 0;
    position: absolute;
    top: 0;
  }

  &__icon {
    fill: #fc5185;
    height: 2.1rem;
    width: 2.1rem;
  }

  &__container {
    position: absolute;
    top: 25%;
    box-shadow: 2px 10px 35px 1px rgba(153, 152, 153, 0.3);
  }

  &__wrap {
    background: #272727;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    cursor: pointer;

    h1 {
      padding: 2rem;
      font-size: 1.4rem;
    }

    span {
      margin-right: 1.5rem;
    }
  }

  &__dropdown {
    background: #1c1c1c;
    color: #fff;
    width: 100%;
    padding: 1rem;
    max-width: 64rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid #fc5185;
    border-top: 1px solid #fc5185;

    p {
      font-size: 1.5rem;
      padding: 1rem;
    }
  }
}

//Delivery methods

.delivery-methods {
  margin: 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  h1 {
    font-size: 1.8rem;
  }

  .delivery-info {
    padding: 2rem;

    h2 {
      padding: 1rem 0;
      font-size: 1.6rem;
    }
    p {
      padding: 0.5rem 0;
      font-size: 1.5rem;
    }

    li {
      padding: 0.2rem 0;
      font-size: 1.5rem;
    }
  }
}

//PROFILE PAGE
.profile-page {
  width: 75rem;
  display: flex;
  justify-content: center;
  margin: 0 auto;

  &__wrapper {
    display: flex;

    flex-direction: column;
    justify-content: center;

    position: relative;
    width: 38rem;

    &__title {
      margin: 1.7rem 0;
      text-align: center;
    }

    p {
      font-size: 1.2rem;
    }

    label {
      font-size: 1.4rem;
    }

    &__form {
      margin-top: 1.4rem;
      display: flex;
      flex-direction: column;

      .buttons {
        display: flex;
        justify-content: center;
      }
    }
    &__input {
      background: none;
      background-color: #fcfcfd;
      color: $sub-color;
      font-size: 1.7rem;
      padding: 1rem 1rem 1rem 0.5rem;
      display: block;
      width: 100%;
      border-radius: 0;
      border: 1px solid black;

      margin: 1rem 0;

      .error {
        color: red;
      }
    }
  }

  &__orders-data {
    margin: 3rem auto;

    &__title {
      margin: 1.7rem 0;
      text-align: center;
    }
  }
}
